.contact
  display block

  &__table
    margin 5px 0 0

  &__string
    margin 0
    height 52px

  &__key
    width 125px
    font(21, $base-title, -.01, false, 700)
    text-transform uppercase

  &__value
    font(21, $base-text, -.01, false, 400)
