.content
  margin 76px 0
  padding 5px
  display flex
  justify-content center

  &__left
    margin-right 72px
    width 414px
    min-width 300px

  &__right
    width 632px
    min-width 300px

@media screen and (max-width 768px)
  .content
    flex-wrap wrap
    margin 25px 0

    &__left
    &__right
      margin 0
      width 100%
