include ../section-header/section-header
include ../edu-work-item/edu-work-item

.content
    include ../person/person
    +edu-work-item('master degree', 'Feb 2011 - Jun 2014', 'university name', 'text text')
    +section-header('profile')
    +section-header('contact')
    +section-header('education')
    +section-header('experience')
    +section-header('skills')
    +section-header('software')
