.content
  .content__left
    include ../person/person
    include ../profile/profile
    include ../contact/contact
    include ../skills/skills
  .content__right
    include ../education/education
    include ../experience/experience
    include ../software/software