include ../section-header/section-header

.content
    +section-header('profile')
    +section-header('contact')
    +section-header('education')
    +section-header('experience')
    +section-header('skills')
    +section-header('software')
