include ../bullet-bar/bullet-bar

.content
  include ../skills/skills
  include ../software/software
  include ../person/person
  include ../education/education
  include ../experience/experience
  include ../profile/profile
