.content
  //  include ../bullet-bar/bullet-bar
    include ../contact/contact
    include ../skills/skills
    include ../software/software
    include ../person/person
    include ../education/education
    include ../experience/experience
    include ../profile/profile
  .content__left
    include ../person/person
    include ../profile/profile
    include ../contact/contact
    include ../skills/skills
  .content__right
    include ../education/education
    include ../experience/experience
    include ../software/software