.line-bar
  margin-bottom 28px
  display block

  &__title
    margin 0 0 17px
    font(26, $base-text, .001, 20, 400)
    text-transform uppercase

  &__body
    height 22px
    background-color $progress

  &__bar
    height 22px
    background-color $base-title

@media screen and (max-width 768px)
  .line-bar

    &__title
      text-align center
