@font-face
  font-family: 'MyriadPro'
  font-weight: normal
  font-style: normal
  src: url('../assets/fonts/MuriadPro-Regular.ttf') format('truetype')

@font-face
  font-family: 'MyriadPro'
  font-weight: bold
  font-style: normal
  src: url('../assets/fonts/MuriadPro-Bold.ttf') format('truetype')

@font-face
  font-family: 'MyriadPro-LightSemiExt'
  font-weight: normal
  font-style: normal
  src: url('../assets/fonts/MuriadPro-LightSemiExt.ttf') format('truetype')
