@font-face
  font-family 'MyriadPro'
  font-weight normal
  font-style normal
  src url('../assets/fonts/MyriadPro-Regular.ttf') format('truetype')

@font-face
  font-family 'MyriadPro'
  font-weight bold
  font-style normal
  src url('../assets/fonts/MyriadPro-Bold.ttf') format('truetype')

@font-face
  font-family 'MyriadPro-LightSemiExt'
  font-weight normal
  font-style normal
  src url('../assets/fonts/MyriadPro-LightSemiExt.ttf') format('truetype')
