.person
  margin auto
  display block
  width 300px

  &__contur
    margin 0 auto 27px
    width 230px
    height 230px
    border 1px solid #3d6cb0
    border-radius 50%

  &__photo
    margin 14px
    width 202px
    height 202px
    background-color #3d6cb0
    border-radius 50%

  &__name
    margin 0
    font(52, $base-text, .017, false, 400)
    font-family 'MyriadPro-LightSemiExt', sans-serif
    text-align center
    text-transform uppercase

  &__surname
    margin 0
    font(62, $base-text, false, 42, 700)
    text-align center
    text-transform uppercase

  &__career
    margin 0
    font(25, $base-text, -.02, 62, 700)
    text-align center
    text-transform uppercase
