.section-header
  display flex
  align-items center

  &__icon
    margin-right 10px
    width 78px
    min-width 78px
    height 78px

    for n in (profile contact education experience skills software)
      &_{n}
        background url('/assets/images/' + n + '.png') no-repeat
        background-size contain

  &__title
    margin-right 10px
    height 29px
    font(41, $base-title, false, 31, 700)
    text-transform uppercase

  &__line
    width 500px
    min-width 0
    height 6px
    background-color #3d6cb0


@media screen and (max-width 768px)
  .section-header
    flex-direction column

    &__icon
      margin 0

    &__title
      margin-right 0

    &__line
      display none
