.section-header
  display: block

  &__icon
    display inline-block
    vertical-align middle
    width 78px
    height 78px

    &_profile
      background url('/assets/images/profile.png') no-repeat
      background-size contain

    &_contact
      background url('/assets/images/comtact.png') no-repeat
      background-size contain

    &_education
      background url('/assets/images/education.png') no-repeat
      background-size contain

    &_experience
      background url('/assets/images/experience.png') no-repeat
      background-size contain

    &_skills
      background url('/assets/images/skills.png') no-repeat
      background-size contain

    &_software
      background url('/assets/images/software.png') no-repeat
      background-size contain

  &__title
    display inline
    vertical-align middle
    width 150px
    height 29px
    font-family 'MyriadPro'
    font(41, $base_title, false, 41, 700)
    text-transform uppercase

  &__line
    display inline-block
    vertical-align middle
    width 169px
    height 6px
    background-color #3d6cb0
