.edu-work-item
  display block

  &__degree
    margin-right 8px
    display inline-block
    font(26, $base-title, false, false, 700)
    text-transform uppercase

    &_work
      color $base-text

  &__period
    display inline-block
    font(26, $date-text, false, false, 400)

  &__institution-name
    font(26, $base-text, false, false, 400)
    text-transform uppercase

  &__text
    margin-top 7px
    font(15, $base-text, .014, false, 400)
