.bullet-bar
  margin-bottom 18px
  display block

  &__title
    margin 0 0 7px
    font-size 26px
    font-weight 400
    text-align center
    text-transform uppercase

  &__bullets
    height 20px

  &__bullet
    margin 0 3px
    display inline-block
    width 18px
    height 18px
    background $progress
    border-radius 50%

    &_progress
      background $base-title
