include ../section-header/section-header
include ../bullet-bar/bullet-bar

-
  const skills = [
    {
      title: 'creative',
      bullets: 12,
      percent: 78
    },
    {
      title: 'teamwork',
      bullets: 12,
      percent: 96
    },
    {
      title: 'innovate',
      bullets: 12,
      percent: 50
    },
    {
      title: 'communication',
      bullets: 12,
      percent: 95
    }
  ]

.skills
  +section-header('skills')
  ul.skills__list
    each el in skills
      li.skills__list-item
        +bullet-bar(el.title, el.bullets, el.percent)

