.software
  margin-top 50px
  display block

  &__list
    margin 26px 0 0
    padding 0
    list-style-type none

  &__list-item
    margin 0 59px 0 8px
    display inline-block
    width 276px

    &_even
      margin-right 0

@media screen and (max-width 1145px)
  .software

    &__list
      margin 30px auto

    &__list-item
      margin 0 8px
      width 98%
